<div th:fragment="list_all_fragment"> <!-- <div th:replace=... -->
  <table class="table table-hover">
    <colgroup>
      <col style='width: 10%;'/>
      <col style='width: 20%;'/>
      <col style='width: 20%;'/>
      <col style='width: 10%;'/>    
      <col style='width: 15%;'/>
      <col style='width: 25%;'/>
    </colgroup>
    <thead>
      <tr>
        <th class="th_bs">번호</th>
        <th class="th_bs">중분류</th>
        <th class="th_bs">소분류</th>
        <th class="th_bs">자료수</th>
        <th class="th_bs">등록일</th>
        <th class="th_bs">순서 / 기타</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="categoryVO, status:${list}">
        <td class="td_bs" th:text="|${no - status.index}|"></td>
        <td class="td_bs"><a th:href="@{|/category/read/${categoryVO.categoryno}?word=${word}&now_page=${now_page}|}" style="display: block;" th:text="${categoryVO.name}"></a></td>
        <td class="td_bs"><a th:href="@{|/category/read/${categoryVO.categoryno}?word=${word}&now_page=${now_page}|}" style="display: block;" th:text="${categoryVO.namesub}"></a></td>
        <td class="td_bs" th:text="${categoryVO.cnt}"></td>
        <td class="td_bs" th:text="${categoryVO.rdate.substring(5, 10)}"></td>
        <td class="td_bs">
          <span th:text="${categoryVO.seqno}" style="margin-right: 3px;"></span>          
          <span th:if="${categoryVO.visible == 'Y'}">
            <a th:href="@{|/category/update_visible_n/${categoryVO.categoryno}?word=${word}&now_page=${now_page}|}"><img src="/category/images/show.png" class="icon" title="출력"></a> <!-- /static/category/images/show.png -->
          </span>
          <span th:unless="${categoryVO.visible == 'Y'}">
            <a th:href="@{|/category/update_visible_y/${categoryVO.categoryno}?word=${word}&now_page=${now_page}|}"><img src="/category/images/hide.png" class="icon" title="숨김"></a> <!-- /static/category/images/hide.png -->
          </span>          
          <a th:href="@{|/category/update_seqno_forward/${categoryVO.categoryno}?word=${word}&now_page=${now_page}|}"><img src="/category/images/decrease.png" class="icon"></a>
          <a th:href="@{|/category/update_seqno_backward/${categoryVO.categoryno}?word=${word}&now_page=${now_page}|}"><img src="/category/images/increase.png" class="icon"></a>
          <a th:href="@{|/category/update/${categoryVO.categoryno}?word=${word}&now_page=${now_page}|}"><img src="/category/images/update.png" class="icon"></a>
          <a th:href="@{|/category/delete/${categoryVO.categoryno}?word=${word}&now_page=${now_page}|}"><img src="/category/images/delete.png" class="icon"></a>
        </td>
      </tr>
    </tbody>
  </table>
  
  <!-- 페이지 버튼 목록 출력 시작 -->
  <div class="Bottom_menu" th:utext="${paging}"></div>
  <!-- 페이지 버튼 목록 출력 종료 --> 
  
</div>











