<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class='title_line'>
    카테고리 > 
    <span th:text="${categoryVO.name}" class="title_line_text"></span >
    
    <span th:if="${categoryVO.namesub != '-'}" th:text="' > ' + ${categoryVO.namesub}" class="title_line_text"></span>
  </div>
  <aside class="aside_right">
    <a th:href="@{|/category/list_search?word=${word}&now_page=${now_page}|}">목록</a>
    <span class="menu_devide">│</span>
    <a th:href="@{|/category/update/${categoryVO.categoryno}?word=${word}&now_page=${now_page}|}">수정</a>
    <span class="menu_devide">│</span>
    <a th:href="@{|/category/delete/${categoryVO.categoryno}?word=${word}&now_page=${now_page}|}">삭제</a>
    <span class="menu_devide">│</span>
    <a href="/category/list_search">등록</a>
    <span class="menu_devide">│</span>
    <a href="javascript: location.reload();">새로 고침</a>
  </aside>
  <div class="menu_line"></div>
  
  <div class="container mt-3" style="width: 50%; margin: 5px auto;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">번호: <span th:text="${categoryVO.categoryno}"></span></li>
      <li class="list-group-item">중분류: <span th:text="${categoryVO.name}"></span></li>
      <li class="list-group-item">소분류: <span th:text="${categoryVO.namesub}"></span></li>
      <li class="list-group-item">관련 자료수: <span th:text="${categoryVO.cnt}"></span></li>
      <li class="list-group-item">등록일: <span th:text="${categoryVO.rdate}"></span></li>
      <li class="list-group-item">출력 순서: <span th:text="${categoryVO.seqno}"></span></li>
      <li class="list-group-item">출력 모드: <span th:text="${categoryVO.visible}"></span></li>
    </ul>  
  </div>

  <!-- /templates/cate/list_all_component.html 파일의 list_all_fragment import -->
  <div th:replace="~{category/list_all_component::list_all_fragment}"></div>
 
</div>
</html>



